<!DOCTYPE html>
<html>
<head>
  <title>Amco cas</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "amco/cas/application", media: "all" %>
  <%= javascript_include_tag "amco/cas/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
